{% extends "movie_superfan/base.html" %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<!-- Movie detail page -->
				<h2>Comment for {{ comment.movie_title }} by {{ comment.user }}</h2>
			</div>
			<p class="article-content">Released year: {{ comment.title }}</p>
			<p class="article-content">Plot: {{ comment.text }}</p>
			<p class="article-content">Imdb rating: {{ comment.posted_date }}</p>
		</div>
	</article>
{% endblock content %}