{% extends "movie_superfan/base.html" %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<!-- Movie detail page -->
				<h2>{{ movie.name }}</h2>
			</div>
			<p class="article-content">Released year: {{ movie.year }}</p>
			<p class="article-content">Plot: {{ movie.plot }}</p>
			<p class="article-content">Imdb rating: {{ movie.imdb_rating }}</p>
            <p class="article-content">{{ movie.trailer }}</p>
        </div>
	</article>
{% endblock content %}